<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css" />
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />
    </head>
    <body>
        #{doLayout /} 

		<hr />
		
		#{a @Application.index()}Home#{/a}

    </body>
</html>
