html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans;
    background: #EEEEEE;
    -moz-user-select: none;
}
a {
    outline: none;
}
.block {
    padding: 20px;
    border-bottom: 1px solid #aaa;
}
#header {
    position: fixed;
    height: 60px;
    width: 100%;
}
#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}
#header {
    background: #a4c4f3;
}
#header p {
    color: #333;
}
#results {
    background: #f6f6f6;
    position: fixed;
    height: 20px;
    width: 100%;
    top: 100px;
}
label {
    font-weight: bold;
    display: block;
}
.field {
    margin-bottom: 15px;
}
small {
    color: #888;
    font-size: 80%;
    position: relative;
    top: -3px;
}
#tests {
    padding-top: 12em;
}
#tests h2 {
    color: #333;
    font-weight: normal;               	
    border-left: 4px solid #ccc; 
    padding-left: 5px;  
    -moz-user-select: none;   	
}
#tests h2 span {
    cursor: pointer;   
}
ul {
    list-style: none;
    margin-bottom: 40px;
    padding-left: 20px;
}
li {
    padding: 2px;
    margin-bottom: 4px;
}
.test a {
    background: #fafafa;
    padding: 3px 6px;
    color: #666;   
    font-weight: bold;
    text-decoration: none;   
    cursor: pointer;  
    -moz-user-select: none;
}
.selected a {
    background: #fff2ab;
    color: #333;
}
#bms, #quickLinks {
    color: #888;
    font-size: 80%;
}
#bms a, #quickLinks a {
    color: #888;
}
#start {
    background: #70c111;
    color: #fff;
    font-size: 120%;
    border: 1px double #70c111;
    cursor: pointer;
    padding: 3px 8px;
    -moz-user-select: none;
}
#stop {
    background: #c00;
    color: #fff;
    font-size: 120%;
    border: 1px double #c00;
    cursor: pointer;
    padding: 3px 8px;
    -moz-user-select: none;
}
#start.disabled {
    background: #b7d2aa;
    cursor: default;
}
#results {
    font-size: 110%;
    color: #999;
}
#started {
    display: none;
}
.running #started {
    display: block;
}
.running #stopped {
    display: none;
}
.running #tests h2 span {
    cursor: default;
}
.running .test {
    cursor: default;
}
.passed a, #header.passed {
    background: #81CF5A !important;
}
.failed a, #header.failed {
    background: #EF6868 !important;
}
.passing .touch {
    background: url(@{'/public/test-runner/running.gif'}) no-repeat;
}
.passing a {
    background: #95D7EF;
}
.passed .touch {
    color: #81CF5A !important;
}
.failed .touch {
    color: #EF6868 !important;
}
.touch {
    color: #bbb;				
    padding: 2px 10px 2px 5px;
    cursor: default;
    font-family: monospace;
    font-size: 110%;
    font-weight: bold;
}
.failed .touch, .passed .touch {
    cursor: pointer;
}
.testResult {
    display: none;
    background: #fff;
    margin-left: 24px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 80%;
    border-left: 6px solid #ccc;
    -moz-user-select: text !important;
}
.testResult .status_passed {
    background: #9BCF81 !important;
}
.testResult .status_failed {
    background: #EF8686 !important;
}
.testResult .status_done {
    background: #EFEFD1 !important;
}            
.testResult table {
    width: 100%;
    border: none;
}
.testResult table td {
    padding: 5px;
    border: none;
}
.testResult .error {
    color: #c00;
}
.testResult .time {
    color: #999;
}
.testResult table .passed span {
    background: #9BCF81 !important;
    padding: 3px 5px;
}
.testResult table .failed span {
    background: #EF8686 !important;
    padding: 3px 5px;
}
.testResult table .source {
    margin-top: 10px;
}
.testResult table .source span {
    color: #fff;
    font-size: 85%;
    padding: 1px 3px;
    background: #666;
}
.testResult table pre {
    display: none;
}
.testResult table .sourceLine {
    border-left: 3px solid #c00;
    padding: 4px 3px;
    color: #000;
    font-size: 85%;
    margin-bottom: 10px;
}
#loading {
    background: #c00;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 5px;
    font-size: 80%;
    display: none;
}
.testResult a {
    background: white !important;
    font-weight: normal !important;
    padding: 0 !important;
}
#selenium-mask {
    background: #000;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#selenium {
    position: fixed;
    top: 20px;
    bottom: 50px;
    right: 20px;
    left: 20px;
    display: none;
    z-index: 100000;
    color: #fff;
    font-size: 110%;
}
#stopSelenium {
    background: #c00;
    color: #fff;
    font-size: 90%;
    border: 1px double #c00;
    cursor: pointer;
    padding: 2px 8px;
    -moz-user-select: none;
}
#selenium iframe {
    margin-top: 10px;
    border: 1px solid #666;
    background: #fff;
}