#users-list .infos {
	width: 5%;
	text-align: center;
}

#signup label, #login label {
	display: block;
	color: #333;
}

#signup input[type=text], #login input[type=text] {
	width: 250px;
}

#signup input[type=password], #login input[type=password] {
	width: 250px;
}

#signup .buttons, #login .buttons {
	margin-top: 20px;
}