#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table fields:superadmin ? ['title', 'company', 'postedAt', 'online'] : ['title', 'postedAt', 'online'], sort: ['title', 'company', 'postedAt']}
			#{crud.custom 'postedAt'}
				${object.postedAt.since()}
			#{/crud.custom}
			#{crud.custom 'company'}
				<a href="@{Companies.show(object.company.id)}">${object.company}</a>
			#{/crud.custom}
			#{crud.custom 'online'}
				#{if object.online}
					<span class="online">Online</span>
				#{/if}
				#{else}
					<span class="offline">Offline</span>
				#{/else}
			#{/crud.custom}
		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>

</div>
