horizontalTree {
    background: rgb(76, 74, 65);
    -th-odd-background: rgb(82, 80, 71);
    font: 9pt Tahoma;
    color: white;
}

horizontalTree:selected {
    border-top: 1px solid rgb(177, 112, 20);
    border-bottom: 1px solid rgb(160, 95, 1);
    /* background: -th-gradient(linear, top, bottom, from( */
}