body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

img {
    border: none;
}

#header {
    height: 32px;
    background-image: url("../images/toolbar_main_bg.gif");
}

#subheader {
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/toolbar_sub_bg.png");
}

#subheader img {
    margin-top: 6px;
    margin-right: 8px;
}

#content {
    background: white;
    position: absolute;
    top: 63px;
    bottom: 32px;
    right: 0px;
    left: 0px;
    z-index: -1;
}

#logo {
    margin-right: 30px;
}

#projects {
    float: left;
    width: 181px;
    background-color: #3d3b34;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#project_header {
    color: #FFF;
    font-size: 10pt;
    height: 18px;
    padding-left: 8px;
    padding-top: 2px;
    background-image: url("../images/dash_column_hdr.gif");
    background-repeat: no-repeat;
}

ul#projectlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#projectlist li img {
    float: right;
    padding-right: 4px;
    padding-top: 2px;
}

ul#projectlist li:hover {
    cursor: pointer;
}

ul#projectlist li {
    padding-left: 8px;
    color: #eee;
    font-size: 9pt;
    padding-top: 2px;
    height: 18px;
    font-family: Tahoma;
}

li.deselected {
    background-image: url("../images/dash_proj_bg_off.gif");
}

li.selected {
    background-image: url("../images/dash_proj_bg_on.gif");
}

#team_header {
    color: #FFF;
    font-size: 10pt;
    height: 18px;
    padding-left: 8px;
    padding-top: 2px;
    background-image: url("../images/dash_column_hdr.gif");
    background-repeat: repeat-x;
}

#sessions_header {
    color: #FFF;
    font-size: 10pt;
    height: 18px;
    margin-top: 30px;
    padding-left: 8px;
    padding-top: 2px;
    background-image: url("../images/dash_column_hdr.gif");
    background-repeat: no-repeat;          
}

ul#sessionslist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#sessionslist > li {
    padding-left: 8px;
    color: #eee;
    font-size: 9pt;
    padding-top: 2px;
    font-family: Tahoma;
    background-repeat: no-repeat;
}

ul#sessionslist li ul {
    list-style-type: none;
    padding-left: 15px;
    background-image: none;
}

ul#sessionslist li ul li {
    list-style-image: url("../images/files_icn_file.png");
    list-style-position: inside;
    background-image: none;
    padding-top: 2px;
}        

#files {
    position: absolute;
    top: 64px;
    bottom: 33px;
    left: 181px;
    width: 180px;
    background-image: url("../images/zebra_files.png");
    background-repeat: repeat-y;
}

#files ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#files ul li {
    list-style-image: url("../images/files_icn_file.png");
    list-style-position: inside;
    padding-left: 8px;
    padding-top: 2px;
}

#files ul li a {
    color: #eee;
    font-size: 9pt;
    font-family: Tahoma;
    text-decoration: none;
}

#sessionslist ul li a {
    color: #eee;
    font-size: 9pt;
    font-family: Tahoma;
    text-decoration: none;
}

#graphs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 181px;
    right: 200px;
    background-color: #4c4a41;
    border-left: 1px solid black;
    border-right: 1px solid #65635d;
}

#team {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    float: right;
    width: 200px;
    background-color: #3d3b34;
}

#footer {
    height: 28px;
    background-image: url("../images/footer_bg.png");
    background-repeat: repeat-x;
    padding: 5px;
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
}

#bar {
    border-left: 1px solid #312F2A;
    border-right: 1px solid #626262;
    margin: 4px 30px 0 0;
    float: left;
    width: 0;
    height: 23px;
}

#status {
    width: 10%;
    height: 26px;
    float: left;
    margin: 6px 0 0 10px;
    color: #DDDDDD;
    font-family: Calibri, Arial, sans-serif;
    font-size: 12pt;
}

body {
    padding: 0;
    margin: 0;
}

#prompt {
    width: 11px;
}

#promptimg {
    margin-top: 6px;
    padding-right: 4px;
}

#commandline {
    width: 100%;
}

#command {
    border: 0;
    background: none;
    color: #DDDDDD;
    font-size: 12pt;
    font-family: Calibri, Arial, sans-serif;
    width: 100%;
}

#message {
    font-size: 14px;
    font-family: Calibri, Arial, sans-serif;
    color: #777777;
}

#message a {
    color: #777777;
    text-decoration: none;
}

#info {
    position: absolute;
    bottom: 32px;
    left: 51px;
    padding: 20px 40px 10px 30px;
    width: 431px;
    color: #999;
    background-image: url("../images/info_popup.png");
    background-repeat: no-repeat;
}

#info u {
    color: #999;
    text-decoration: none;
    font-family: Calibri, Arial, sans-serif;
}

#info b {
	color: #ddd;
}

#footer_bar {
    float: right;
    border-left: 1px solid #312F2A;
    border-right: 1px solid #626262;
    margin: 5px 12px 0 14px;
    width: 0;
    height: 23px;
}

#error_bar {
    float: right;
    padding-top: 7px;
}

#error_bar_text {
    font-size: 10pt;
    font-family: Calibri, Arial, sans-serif;
    color: #DDDDDD;
    padding-left: 2px;
}

#version {
    float: right;
    padding: 8px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;
    color: #aaa;
}

#version a {
    text-decoration: none;
    color: #aaa;
}

.versionnumber {
    color: #777;
}

*:focus { outline: 0; }