<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=${_response_encoding}">
		<title>Play - A jobboard application</title>
		<link rel="stylesheet" href="@{'/public/stylesheets/default.css'}" type="text/css" media="screen" title="no title" charset="${_response_encoding}">
		#{if request.controller != 'Application'}
			<link rel="stylesheet" href="@{'/public/stylesheets/admin.css'}" type="text/css" media="screen" title="no title" charset="${_response_encoding}">
		#{/if}
		#{else}
			<link rel="alternate" type="application/rss+xml" title="All jobs - RSS 2.0" href="@@{Application.index(null, null)}all.xml" />
			<link rel="alternate" type="application/rss+xml" title="All jobs with selected criteria - RSS 2.0" href="@@{Application.index(category, filterTags?.join(',') ?: null)}.xml" />
		#{/else}
	</head>
	<body id="jobs">
		
		<div id="main">
		
			<div id="header">
				<h1 id="title">
					<a href="@{Application.index()}">Play, jobs</a>
				</h1>
				#{if request.controller == 'Application'}
					<p>
						This is a sample Play application. You can log into the <a href="@{Administration.index()}">Administration area</a>
						with the <em>admin/admin</em> credentials, to create companies, categories, tags and jobs. A company administrator
						has a restricted access to the admin area. Look at the code to see how we reuse the CRUD module for that ...
					</p>
					<a id="rss" href="@@{Application.index(null, null)}all.xml">RSS Jobs feed</a>
				#{/if}
			</div>
			
			#{doLayout /}
		
		</div>
		
	</body>
</html>