bin
framework/classes
framework/test-classes
framework/out
framework/.idea
framework/play.jar
.DS_Store
nbproject/genfiles.properties
nbproject/jdk.xml
nbproject/nbjdk.properties
nbproject/nbjdk.xml
nbproject/private
framework/tests-results
framework/src/version
framework/src/play/version
framework/src/play/version
framework/src/play/version
framework/tests/test-application/db
framework/play-*.jar
framework/docs
samples-and-tests/*/test-result/

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras

.settings
.classpath
.project
framework/tests/tmp
id
framework/tests-tmp
framework/docs
dist
modules/bespin/lib/bespin.jar
modules/ecss/lib/ecss.jar
modules/test-runner/lib/test-runner.jar
resources/catalog.xml
resources/nbproject/private
modules/gae/lib/gae.jar
catalog.xml
modules/gae/lib/gae.jar
play-*.jar
modules/gae/bin
modules/gwt/lib/play-gwt.jar
tmp
test-result
logs
logs
tmp
db
*.pyc
test-result
samples-and-tests/with-gwt/nbproject
samples-and-tests/jobboard/db
samples-and-tests/jobboard/tmp
samples-and-tests/jobboard/test-result
samples-and-tests/jobboard/attachments
samples-and-tests/just-test-cases/tmp
samples-and-tests/just-test-cases/test-result
samples-and-tests/chat/tmp
samples-and-tests/chat/logs
.git
modules/spring/lib/play-spring.jar
modules/search/bin
modules/search/lib/search.jar
samples-and-tests/just-test-cases/data
modules/siena/lib/play-siena.jar
samples-and-tests/lists-with-gae/logs
samples-and-tests/lists-with-gae/tmp
samples-and-tests/lists-with-gae/war/WEB-INF/appengine-generated
./.settings
samples-and-tests/just-test-cases/.settings
samples-and-tests/just-test-cases/eclipse
framework/ecClasses
documentation/api
support/textmate
samples-and-tests/yabe/logs
samples-and-tests/yabe/test-result
samples-and-tests/yabe/tmp
*.ser
modules/cobertura/lib
modules/scala/lib/play-scala.jar
samples-and-tests/with-scala/logs
samples-and-tests/yabe-with-scala/logs
samples-and-tests/yabe-with-scala/tmp
samples-and-tests/yabe/.amateras
samples-and-tests/yabe/.settings
samples-and-tests/yabe/eclipse
samples-and-tests/yabe/nbproject
samples-and-tests/with-scala/.amateras
samples-and-tests/with-scala/.externalToolBuilders
samples-and-tests/with-scala/.manager
samples-and-tests/with-scala/.settings
samples-and-tests/with-scala/eclipse
samples-and-tests/test-scala/tmp
samples-and-tests/test-scala/logs
samples-and-tests/i-am-a-developer/i-am-working-here
samples-and-tests/i-am-a-developer/i-am-creating-jobs-here
samples-and-tests/i-am-a-developer/i-am-testing-log-levels-here
samples-and-tests/just-test-cases/attachments
samples-and-tests/booking/logs
samples-and-tests/booking/tmp
samples-and-tests/twitter-oauth/.settings
samples-and-tests/twitter-oauth/eclipse
help
*.iml
*.ipr
*.iws
modules/router/lib/router.jar
modules/grizzly/lib/play-grizzly.jar
play.ipr
play.iws
*iml
modules/router-head
modules/gwt/samples-and-tests/logs
modules/gwt/samples-and-tests/test-result
modules/gwt/samples-and-tests/tmp
modules/siena-1.0
samples-and-tests/zencontact/logs
samples-and-tests/zencontact/test-result
samples-and-tests/zencontact/tmp
modules/scala
atlassian-ide-plugin.xml
modules/*
build.classes
modules/crud/nbproject
nbproject
samples-and-tests/jobboard/attachments
samples-and-tests/jobboard/logs
samples-and-tests/jobboard/test-result
samples-and-tests/jobboard/tmp
samples-and-tests/validation/logs
samples-and-tests/zencontact/precompiled
!modules/docviewer
!modules/crud
!modules/console
!modules/grizzly
!modules/secure
!modules/testrunner
!framework/src/play/db
.idea
*~
