# General temp files
.DS_Store
*.ser
*.pyc

# Files related to Play build or usage
id
dist
out
bin
framework/classes
framework/test-classes
framework/tests-results
framework/out
framework/.idea
framework/play.jar
.DS_Store
nbproject/genfiles.properties
nbproject/jdk.xml
nbproject/nbjdk.properties
nbproject/nbjdk.xml
nbproject/private
framework/tests-results
framework/src/version
framework/src/play/version
framework/tests/test-application/db
framework/play-*.jar
framework/docs
samples-and-tests/*/test-result/

# IDE and editors
/bin
*~
.idea
nbproject
eclipse
.amateras
.settings
.classpath
.project
samples-and-tests/java8Support/lib/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# modules/: exclude except for core modules
modules/*
!modules/docviewer
!modules/crud
!modules/console
!modules/grizzly
!modules/secure
!modules/testrunner

