#{extends './main.html' /}

<div id="tabs">
	<ul>
		#{list items:categories, as:'categoryItem'}
			<li>
				<a href="@{index(categoryItem.code)}" class="${categoryItem.code == category ? 'selected' : ''}">${categoryItem}</a>
			</li>
		#{/list}
	</ul>
	<br style="clear:both" />
</div>

<div id="content">

	<div id="joblist">
		#{if filterTags.size()}
			<p id="filters">
				Tagged with
				#{list items:filterTags, as:'tag'}
					<span>${tag}</span>${tag_isLast ? '' : ','}
				#{/list}
				&nbsp; <a href="@{Application.index(category, null)}">(remove this filter)</a>
				
			</p>
		#{/if}
		
		#{include 'Application/joblist.html' /}
	</div>

	<div id="tags">
		<h2>Tags</h2>
		
		<ul>
			#{list items:tags, as:'tag'}
				<li>
					#{if filterTags.contains(tag.code)}
						<a class="selected" href="@{Application.index(category, filterTags.remove(tag.code).join(',') ?: null)}">${tag}</a>
					#{/if}
					#{else}
						<a href="@{Application.index(category, filterTags.add(tag.code).join(','))}">${tag}</a>
					#{/else}
				</li>
			#{/list}
		</ul>
	</div>

</div>



