#{extends 'main.html' /}

#{form @submit()}
	
	<input type="text" name="h.id" id="id" />
	
	<input type="text" name="h.numbers" id="numbers1" />
	<input type="text" name="h.numbers" id="numbers2" />
	<input type="text" name="h.numbers" id="numbers3" />
	
	<input type="text" name="h.moreNumbers" id="moreNumbers1" />
	<input type="text" name="h.moreNumbers" id="moreNumbers2" />
	<input type="text" name="h.moreNumbers" id="moreNumbers3" />
	
	<input type="text" name="h.moreMoreNumbers[]" id="moreMoreNumbers1" />
	<input type="text" name="h.moreMoreNumbers[]" id="moreMoreNumbers2" />
	<input type="text" name="h.moreMoreNumbers[]" id="moreMoreNumbers3" />
	
	<input type="text" name="h.tags[]" id="tags1" />
	<input type="text" name="h.tags[]" id="tags2" />
	<input type="text" name="h.tags[]" id="tags3" />	
	
	<input type="text" name="h.moreTags[0]" id="moreTags1" />
	<input type="text" name="h.moreTags[6]" id="moreTags3" />
    <input type="text" name="h.moreTags[4]" id="moreTags2" />

	<input type="text" name="h.address.id" id="addressId" />
	<input type="text" name="h.address.city.name" id="addressCity" />
	<input type="text" name="h.address.street" id="addressStreet" />
	<input type="text" name="h.address.number" id="addressNumber" />
	<input type="text" name="h.address.bikes[]" id="addressBike1" />
	<input type="text" name="h.address.bikes[]" id="addressBike2" />
	<input type="text" name="h.address.dogs[1].name" id="addressDog1" />
	<input type="text" name="h.address.dogs[5].name" id="addressDog2" />
	
	<input type="text" name="h.texts[fr].text" id="textFr" />
	<input type="text" name="h.texts[en].text" id="textEn" />
	
	<input type="text" name="h.justMap[x]" id="x" />
	<input type="text" name="h.justMap[y]" id="y" />
	
	<input type="text" name="h.dogs[0].name" id="dog1Name" />
	<input type="text" name="h.dogs[0].age" id="dog1Age" />	
	<input type="text" name="h.dogs[4].name" id="dog2Name" />
	
	<input type="submit" id="go" />	
	
#{/form}