<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        #{stylesheet src:"main.css" /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.4.2.min.js" /}
        #{script src:"jquery.tools-1.2.5.toolbox.expose.min.js" /}
    </head>
    <body>

        <div id="header">
            <div id="logo">
                yabe.
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Admin.index()}">Log in to write something</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
                <h2>${blogBaseline}</h2>
            </div>
        </div>

        <div id="main">
            #{doLayout /}
        </div>

        <p id="footer">
            Yabe is a (not so) powerful blog engine built with the 
            <a href="https://www.playframework.com">play framework</a>
            as a tutorial application.
        </p>

    </body>
</html>
