#{extends 'main.html' /}

<h1 id="title">Login</h1>
<p class="light">
    
</p>

<form id="login" action="@{Application.authenticate}" method="POST" accept-charset="${_response_encoding}">
	<p>
		<label>Email</label>
		<input type="text" name="email" value="${flash.email}" id="email" />
	</p>
	<p>
		<label>Password</label>
		<input type="password" name="password" value="" id="password" />
	</p>
	<p class="buttons">
		<input type="submit" value="Login" id="loginButton" />
	</p>
</form>

#{if flash.notconfirmed}
	<p>
		<a class="action" href="@{Application.resendConfirmation(flash.notconfirmed)}">Resend a confirmation email</a>
	</p>
#{/if}