#{extends 'main.html' /}

<h1 id="title">Signup</h1>
<p class="light">
	We will send you an email for confirmation
</p>

<form id="signup" action="@{Application.register}" method="POST" accept-charset="${_response_encoding}">
	<p>
		<label>Email</label>
		<input type="text" name="email" value="${flash.email}" id="email" />
		<span class="error">#{error 'email' /}</span>
	</p>
	<p>
		<label>Display name</label>
		<input type="text" name="name" value="${flash.name}" id="name" />
		<span class="error">#{error 'name' /}
	</p>
	<p>
		<label>Password</label>
		<p class="light">
			Enter your desired password twice. It must be at least 5 characters.
		</p>
		<div>
			<input type="password" name="password" value="${flash.password}" id="password" /> <span class="error">#{error 'password' /}</span>
		</div>
		<div>
			<input type="password" name="password2" value="${flash.password2}" id="password2" /> <span class="error">#{error 'password2' /}</span>
		</div>
	</p>
	<p class="buttons">
		<input type="submit" value="Signup" id="signupButton" />
	</p>	
</form>