#{set title:'Your application is ready !' /}

#{if play.mode.toString() == 'DEV'}
    
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

%{
    header = request.headers.get("accept-language");
    String docLang = header!=null? header.value().split(",")[0] : "";
    docLang = docLang.length()>2? docLang.substring(0,2) : docLang;
}%

#{if "ja".equalsIgnoreCase(docLang)}
    #{welcome_ja /}
#{/if}
#{else}
    #{welcome_en /}
#{/else}
<script type="text/javascript" src="@{'/public/playmanual/jquery-1.6.min.js'}"></script>
<script type="text/javascript" src="@{'/public/playmanual/navigation.js'}"></script>

#{/if}
#{else}
    <h1>Your application is ready!</h1>
#{/else}
