#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>

        <select id="${field.id}" name="${field.name}">
                %{ _property.choices.each() { }%
                name=${it.name()} ord=${it.ordinal()}
                %{
                        selected = false;
                        if(field.error?.message != 'validation.required') {
                            selected = it == _value;
                        }
                        label = messages.get( _property.relation +'.' + it );

                }%
                <option value="${it}" ${selected ? 'selected="true"'.raw() : ''}>${label}</option>
                %{ } }%
        </select>

    #{ifError field.name}
        <span class="error">${field.error}</span>
    #{/ifError}
#{/field}
