#{if hotels}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City, State</th>
                <th width="8%">Zip</th>
                <th width="13%">Action</th>
            </tr>
        </thead>
        <tbody>
            #{list hotels, as:'hotel'}
                <tr>
                    <td>${hotel.name}</td>
                    <td>${hotel.address}</td>
                    <td>${hotel.city}, ${hotel.state}, ${hotel.country}</td>
                    <td>${hotel.zip}</td>
                    <td>
                        <a href="@{show(hotel.id)}">View Hotel</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    <p>
        <a id="nextPage" href="${page+1}">More results</a>
    </p>
#{/if}

#{else}
    <p>
        No more results
    </p>
#{/else}      