#{extends 'main.html' /}
#{set title:hotel.name /}

<h1>View hotel</h1>

#{form @book(hotel.id)}
    <p>
        <strong>Name:</strong> ${hotel.name}
    </p>
    <p>
        <strong>Address:</strong> ${hotel.address}
    </p>
    <p>
        <strong>City:</strong> ${hotel.city}
    </p>
    <p>
        <strong>State:</strong> ${hotel.state}
    </p>
    <p>
        <strong>Zip:</strong> ${hotel.zip}
    </p>
    <p>
        <strong>Country:</strong> ${hotel.country}
    </p>
    <p>
        <strong>Nightly rate:</strong> ${hotel.price}
    </p>
    
    <p class="buttons">
        <input type="submit" value="Book Hotel"> <a href="@{index()}">Back to search</a>      
    </p>
#{/form}
