#{extends 'main.html' /}
#{set title:'Chat room' /}

<h1>You are now chatting as ${user} <a href="@{index()}">Leave the chat room</a></h1> 

<div id="thread">
    <script type="text/html" id="message_tmpl">
        <div class="message <%= message.user == '${user}' ? 'you' : '' %> <%= message.user == 'notice' ? 'notice' : '' %>">
            <h2><%= message.user %></h2>
            <p>
                <%= message.text.replace('\n', '<br/>') %>&nbsp;
            </p>
        </div>
    </script>
</div>

<div id="newMessage">
    <textarea id="message" name="message"></textarea>
    <input type="button" value="send" id="send"/>
</div>

<script type="text/javascript">

    var lastReceived = 0
    var waitMessages = #{jsAction @waitMessages(':lastReceived') /}
    var say = #{jsAction @say(user) /}

    $('#send').click(function(e) {
        var message = $('#message').val()
        $('#message').val('')
        $.post(say(), {msg: message})
    });
    
    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })

    // Retrieve new messages
    var getMessages = function() {
        $.ajax({
            url: waitMessages({lastReceived: lastReceived}),
            success: function(messages) {
                $(messages).each(function() {
                    display(this)
                    lastReceived = this.id
                })
                getMessages()
            },
            dataType: 'json'
        });
    }
    getMessages();
    
    // Display a message
    var display = function(message) {
        $('#thread').append(tmpl('message_tmpl', {message: message}));
        $('#thread').scrollTo('max')
    }
    
</script>