`stopwatch on
`tracefile on

`(List<String> posts)

<p>
The "each/Each" command is a for loop on steroid, with lots of loop information. 
Now deprecated. 
</p>

<p> 
The instance variable is defined after the | line, the same way as any tag render-back
</p>
`logDuration("1");

`each posts | String p
    <p>index: $_index, is odd? $_isOdd, is first? $_isFirst, is last? $_isLast, total size: $_size </p>
*{
    call a tag:  `tag SampleTag p
}*
`

`logDuration("1.1");
`tag SampleTag "end"

`logDuration("2");

`tag SampleTag "end"
`logDuration("2.1");

`for(String p : posts){
    <p> post: $p </p>
   *{
    call a tag:  `tag SampleTag p
   }*
`}

`logDuration("3");

<p> now we have an enhanced for loop (the "open for loop") that also makes all the loop properties available</p>

`int k = 1;
`for String p : posts
    <p>index: $_index, parity: $_parity, is odd? $_isOdd, is first? $_isFirst, is last? $_isLast, total size: $_size </p>
    call a tag:  `t SampleTag p
`

<p>the collection variable must be final</p>
`logDuration("4");

`final int[] ints = {1, 2, 3, 4, 5};
`for  int i : ints
    `if (i == 2) {
        `continue;
    `} else if (i == 5 ) {
    	`break;
    `}else {
         ${i}>
    `}
`

`logDuration("ddd");
