Source: play-1.2.1
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@lunatech.com>
Build-Depends: debhelper (>= 7), ant
Standards-Version: 3.8.3
Homepage: http://www.playframework.org

Package: play-1.2.1
Provides: play-1.2
Architecture: all
Depends: ${misc:Depends}, python (>= 2.5), java-runtime
Recommends: play-1.1-debian-module
Description: Play! Framework
 This is the Play! Framework packaged for Debian
