#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=$(shell git describe --tags refs/heads/master | tr '[A-Z]' '[a-z]')

DEB_PATH=debian/play-$(VERSION)
INSTALL_PATH=/usr/share/play/$(VERSION)
ETC_PATH=/etc/play/$(VERSION)
DOC_PATH=/usr/share/doc/play-$(VERSION)

%:
	dh  $@

override_dh_auto_build: 
	cd framework; \
	ant
	./play help > /dev/null

override_dh_auto_clean: 
	cd framework; \
	ant clean

override_dh_auto_install: 
	# New hibernate
	install -d $(DEB_PATH)$(INSTALL_PATH) $(DEB_PATH)$(INSTALL_PATH)/modules $(DEB_PATH)$(ETC_PATH) $(DEB_PATH)$(DOC_PATH)
	rsync -r --exclude framework/classes framework play resources support $(DEB_PATH)$(INSTALL_PATH)
	for m in console crud docviewer grizzly secure testrunner; \
	 do rsync -r --exclude tmp modules/$$m $(DEB_PATH)$(INSTALL_PATH)/modules/ ;\
	done
	ln -s /usr/share/play-modules/1.1/debian $(DEB_PATH)$(INSTALL_PATH)/modules/debian
	cp -r documentation $(DEB_PATH)$(DOC_PATH)
	ln -s $(DOC_PATH)/documentation $(DEB_PATH)$(INSTALL_PATH)
	cp -r debian/id repositories $(DEB_PATH)$(ETC_PATH)
	ln -s $(ETC_PATH)/repositories $(DEB_PATH)$(INSTALL_PATH)
	ln -s $(ETC_PATH) $(DEB_PATH)$(INSTALL_PATH)/etc
