<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/%PROJECT_NAME%"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;%PROJECT_NAME%&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/%PROJECT_NAME%/conf&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;runtimeClasspathEntry id=&quot;org.eclipse.jdt.launching.classpathentry.defaultClasspath&quot;&gt;&#10;&lt;memento exportedEntriesOnly=&quot;false&quot; project=&quot;%PROJECT_NAME%&quot;/&gt;&#10;&lt;/runtimeClasspathEntry&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="play.server.Server"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="%PROJECT_NAME%"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="%VM_ARGUMENTS% -Xdebug -Xrunjdwp:transport=dt_socket,address=%JPDA_PORT%,server=y,suspend=n -Dplay.debug=yes -Dplay.id=%PLAY_ID% -Dapplication.path=&quot;${project_loc:%PROJECT_NAME%}&quot; -Djava.endorsed.dirs=&quot;%PLAY_BASE%/framework/endorsed&quot; -javaagent:&quot;%PLAY_BASE%/framework/play-%PLAY_VERSION%.jar&quot;"/>
</launchConfiguration>

