<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Application error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
		#{if play.mode.name() == 'DEV'}
			#{500 exception /}
		#{/if}
        #{else}
        	<h1>Oops, an error occurred</h1>
			<p>
				This exception has been logged with id <strong>${exception.id}</strong>.
			</p>
        #{/else}
    </body>
</html>
2-byte UTF-8-chars: ÆØÅ