#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Forums.index}">Forums</a> → <a href="@{Forums.show(topic.forum.id)}">${topic.forum.name}</a> → <a href="@{Topics.show(topic.forum.id, topic.id)}">${topic.subject}</a>
</div>

<h1 id="title">Reply to «${topic.subject}»</h1>
<p class="light">
	by ${connected.name}
</p>

<form id="post" action="@{Topics.createReply(topic.forum.id, topic.id)}" method="POST" accept-charset="${_response_encoding}">
	<p>
		<textarea name="content" rows="8" cols="40" id="contentText"></textarea>
	</p>
	<p class="buttons">
		<input type="submit" value="Post the reply" id="postReply" /> or <a class="action" href="@{Topics.show(topic.forum.id, topic.id)}">cancel</a>
	</p>
</form>