#{extends 'main.html' /}

<div id="crud">
	
	<div id="crudHeader">
		<h1>
			#{if session.'company-name'}
				<a href="@{Companies.show(session.'company-id')}">${session.'company-name'} (Edit my company profile)</a> - 
			#{/if}
			<a href="@{Administration.logout()}">Logout</a>
		</h1>		
	</div>
	
	#{if request.actionMethod != 'index'}
		<div id="crudBreadcrumb">
			#{crud.navigation /}
		</div>
	#{/if}

	#{if flash.success}
		<div class="crudFlash flashSuccess">
			${flash.success}
		</div>
	#{/if}
	#{if flash.error}
		<div class="crudFlash flashError">
			${flash.error}
		</div>
	#{/if}
	
	<div id="crudContent">
		#{doLayout /}
	</div>
	
</div>

