#{extends 'main.html' /}

<h1 id="title">Forums</h1>
<p class="light">
	<strong>
		#{pluralize size:postsCount, word:'post' /} in #{pluralize size:topicsCount, word:'topic' /}
	</strong>
</p>

<table id="forums-list">
	<thead>
		<tr>
			<th class="main">Forum</th>
			<th class="infos">Last post</th>
		</tr>
	</thead>
	#{list items:forums, as:'forum'}
		<tr>
			<td class="main">
				<a href="@{Forums.show(forum.id)}">${forum.name}</a>
				<p class="light">
					 #{pluralize size:forum.postsCount, word:'post' /} in #{pluralize size:forum.topicsCount, word:'topic' /}
				</p>
				${forum.description}
			</td>
			<td class="infos">
				#{if forum.lastPost}
					${forum.lastPost.postedAt.since()} <br /> 
					by <strong>${forum.lastPost.postedBy.name}</strong> 
					(<a href="@{Topics.show(forum.id, forum.lastPost.topic.id, forum.lastPost.topic.postsCount.page(pageSize))}">view</a>)
				#{/if}
				#{else}
					No post
				#{/else}
			</td>
		</tr>
	#{/list}
</table>

#{if connected?.admin}
	<div id="youreadmin">
		Administrator options
	</div>

	<div class="box">
		<h2>Create a new forum</h2>
		<form action="@{Forums.create}" method="POST">
			<input type="text" name="name" size="30" id="name" /> <span class="error">#{error 'name' /}</span>
			
			<label for="description">Set a description</label>
			<textarea name="description" rows="6" id="description">${flash.description}</textarea>
			<hr />
			<input type="submit" value="Add this forum" id="addForum" />
		</form>
	</div>
#{/if}
	

