.cs-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

div.cs {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    margin: auto;
    font-size: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0 5px 0;
    -webkit-box-shadow: #ccc -1px 1px 3px;
    -moz-box-shadow: #ccc -1px 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.cs:hover {
	background-color:white;
}

.wikistyle .cs h2 {
	width: 100%;
	background: rgba(103, 169, 39, 0.75);
	color: white;
	text-shadow: #3F6C12 1px 1px 0px;
	font-size: 12px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-top: none !important;
    padding-top: 0 !important;
    text-indent: 0.5em;
    -webkit-border-top-left-radius: 3px; 
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}

.wikistyle div.cs p {
    margin: 0.5em !important;
    line-height: 1.3 !important;
}

#docTopbar {
    position: relative;
    background: #fff;
    padding: 10px;
    height: 70px;
    font-size: 12px;
    overflow: hidden;
    -webkit-box-shadow: #eee -1px 1px 2px;
    -moz-box-shadow: #eee -1px 1px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#docTopbar a {
    color: #568C00;
}

#docTopbar .titlebar {
    width: 100%;
    text-align: center;
}

#backToToc {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#backToToc span {
    font-weight: bold;
    color: #666;
    font-size: 15px;
}

#searchBar {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 45px;
}

#logobar {
    right: 5px;
    top: 5px;
    text-align: center;
    position: absolute;
}

#logobar #version {
    font-size: 10px;
    margin-top: 0;
    font-weight: normal;
}