/** Main layout **/

html, body {
    background: #364B66;
    font-family: Helvetica, Arial, Sans;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** Blog header **/

#header {
    padding: 10px 0;
    position: relative;
}

#logo {
    display: block;
    width: 210px;
    height: 49px;
    margin-left: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 20px;
}

#tools a {
    color: #fff;
    text-decoration: none;
}

#title {
    background: #B8C569;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
    position: relative;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}

/** A little hacky to create arrows without images **/
.about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #BAC36E;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

#title h1 {
    font-size: 64px;
    margin: 0;
}

#title h1 a {
    text-decoration: none;
    color: inherit;
}

#title h2 {
    font-size: 26px;
    margin: 0;
    font-weight: normal;
}

/** Main content **/

#main {
    background: #314660;
    background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 20px;
}

/** Post **/

.post .post-title {
    margin: 0;
}

.post .post-title a {
    font-size: 36px;
    color: #F5C2CC;
    text-decoration: none;
}

.post .post-metadata {
    color: #BAC36E;
    display: block;
    font-size: 70%;
    display: inline-block;
}

.post .post-author {
    font-size: 130%;
    font-weight: bold;
}

.post .post-metadata a {
    color: #9FA85D;
}

.post .post-content {
    position: relative;
    background: #fff;
    padding: 10px;
    margin: 10px 0 50px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 2px 0 #BBBBBB;
}

.post .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-top: 0;
	position: absolute;
	top: -6px;
	left: 24px;
}


/** Older posts **/

.older-posts h3 {
    color: #869AB1;
    font-size: 28px;
    margin-bottom: 15px;
}

.older-posts h3 .from {
    font-weight: normal;
    font-size: 70%;
}

.older-posts .post {
    margin-bottom: 15px;
    border-left: 3px solid #869AB1;
    padding-left: 10px;
}

.older-posts .post-title a {
    padding: 0;
    color: #131921;
    font-size: 20px;
}

.older-posts .post-metadata {
    color: #869AB1;
    padding: 0;
    font-size: 12px;
}

.older-posts .post-metadata a {
    color: #869AB1;
}

/** Comments **/

.comments {
    margin-bottom: 30px;
}

h3 {
    color: #869AB1;
    font-size: 18px;
    margin-bottom: 15px;
}

.comment {
    width: 70%;
    clear: both;
}

.comment .comment-metadata {
    color: #869AB1;
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.comment .comment-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.comment .comment-content {
    position: relative;
    background: #E4EAFF;
    color: #242C58;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.comment .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}

/** Form **/

form {
    padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

form .error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
}

#captcha{
    display: block;
    height: 50px;  
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #869AB1;
    font-size: 90%;
    top: -20px;
    margin-bottom: 30px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
}