#{extends 'main.html' /}

<h1>Coucou</h1>

%{
	def clos = { println "hello!" }	
	j = 999
}%

A#{script file:'test.js', second:8, yop:j /}A

>>> ${id} + ${name} + ${clos}

<h2>${models.Test.test()}</h2>

#{if id>100 }
	<h5>な役割を持つ肝機能 YYYYYYYYYYYYYYYYYYYYYYYYYYYY</h5>
	<strong>${kiki}</strong>
#{/if}

&{id > 1 ? 'orders':'order'}

<a href="@{Application.index}">Index</a> - <a href="@{Orders.show(55)}">Order 55</a> - <a href="@{Application.test}">Test</a> - <a href="@{Orders.show(j)}">Order 999</a>
- <a href="@{Application.index('ォータ', 555555)}">Index</a> 