#{extends 'main.html' /}
	
#{form @submit()}
	<input type="text" name="u.name" id="name" />
	<input type="text" name="u.a" id="a" />
	<input type="text" name="u.b" id="b" />
	<input type="text" name="u.c" id="c" />
	<input type="text" name="u.i" id="i" />
	<input type="text" name="u.j" id="j" />
	<input type="text" name="u.l" id="l" />
	<input type="text" name="u.k" id="k" />
	<input type="text" name="u.birth" id="birth" />
    <input type="text" name="u.email" id="email" />
	<input type="submit" id="go" />
#{/form}