<div class="post">
	<div class="infos">
		${_arg.postedAt.format('MM/dd, yyyy hh:mma')}
		<a href="@{Users.show(_arg.postedBy.id)}">${_arg.postedBy.name}</a>
		<p class="light">
			#{pluralize size:_arg.postedBy.postsCount, word:'post' /}
		</p>
	</div>
	<div class="content">
		<div class="arrow"></div>
		#{if _showTopic}
			<div class="postedIn">
				Posted in <a href="@{Topics.show(_caller.post.topic.forum.id, _caller.post.topic.id)}">${_caller.post.topic.forum.name} - ${_caller.post.topic.subject}</a>
			</div>
		#{/if}
		${_arg.content.nl2br().raw()}
	</div>
</div>
<hr class="nextPost" />