#{extends 'main.html' /}
#{set title:'Home' /}
<script src="@{'/public/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<h1>Title: <span id="ch">yop</span></h1>

<button id="showAlert">Show alert</button>
<button id="showConfirm">Show confirm</button>
<button id="usePrompt">Use prompt</button>

<script type="text/javascript" charset="${_response_encoding}">
	$('#showAlert').click(function() {
		alert("Youhou")
	})
	$('#showConfirm').click(function() {
		alert('Response: ' + confirm("Yes or no?"))
	})
	$('#usePrompt').click(function() {
		$('#ch').html(prompt("Your name?"))
	})
</script>