#{extends 'main.html' /}

#{if a}
    a is true
#{/if}
#{else}
    a is false
#{/else}

#{if b}
    b is true  
#{/if}
#{elseif b == false}
    b is false 1
#{/elseif}
#{else}
    oops
#{/else}

#{if b}
    b is true
#{/if}
#{else}
    b is false 2
#{/else}

#{ifnot b}
    b is false 3
#{/ifnot}
#{else}
    b is true
#{/else}

#{if c}
    c is true
#{/if}
#{else}
    c is false 
#{/else}

#{ifnot d}
    d is false
#{/ifnot}
#{else}
    d is true
#{/else}

#{if e}
    e is true
#{/if}
#{else}
    e is false
#{/else}

#{if f}
    f is true
#{/if}
#{else}
    f is false
#{/else}

#{if g}
    g is true
#{/if}
#{else}
    g is false
#{/else}

#{if h}
    h is true
#{/if}
#{else}
    h is false
#{/else}

#{if i}
    i is true
#{/if}
#{else}
    i is false
#{/else}

#{if j}
    j is true
#{/if}
#{else}
    j is false
#{/else}

