#{extends 'main.html' /}
#{set title:'Home' /}

<h1>It works !</h1>

#{include './inc1.html' /}

#{form action:@hello(), id:'form'}
	<input id="name" type="text" name="name" />
	<input id="sayHello" value="Say hello" type="submit" />
#{/form}

#{form action:@yop()}
	<input id="yop" value="Yop" type="submit" />
	#{if params.yop}
		${9/0}
	#{/if}
#{/form}

${'Coucou'.up()}

#{form action:@aGetForm()} 
	<input type="text" name="name" id="getName" />
	<input id="yopGet" value="GET Yop" type="submit" />
#{/form}

#{render 'Application/kiki.html', a:'Hello', b:9 /}

<p>
    <a id="wp1" href="@{sample.Photo.index()}">with package</a>, <a id="wp2" href="@{admin.Test.index()}">with package 2</a>, #{a @@admin.Test.index(), id:'wp3'}with package 3#{/a}
</p>

#{include './inc2.html' /}

<h2>1: @@{'/public2/assets1/hello.html'}</h2>
<h2>2: @{'/public2/assets1/hello.html'}</h2>
<h2>3: @@{'/public2/assets2/hello.html'}</h2>
<h2>4: @{'/public2/assets2/hello.html'}</h2>
<h2>5: @@{'/public/image.gif'}</h2>
<h2>6: @{'/public/image.gif'}</h2>
<h2>7: @{Application.helloZen()}</h2>
<h2>8: @@{Application.helloZen()}</h2>
<h2>9: @{Application.index()}</h2>
<h2>10: @@{Application.index()}</h2>
<h2>11: @{Application.myHomePage('bob')}</h2>
<h2>12: @@{Application.myHomePage('bob')}</h2>
<h2>13: @@{Application.showIt()}</h2>
<h2>14: @@{Application.ok('titi')}</h2>
<h2>15: @@{Application.ok(123)}</h2>
<h2>16: @@{Application.ok(12345)}</h2>
<h2>17: @@{Application.ok('A')}</h2>
<h2>18: @@{Application.ok('TITI')}</h2>
<h2>19: @@{Application.imagesAssets()}</h2>
<h2>20: @@{Application.helloSteph()}</h2>
<h2>21: @@{Application.helloWorld()}</h2>
<h2>22: @@{Application.helloSteph('nicolaïs')}</h2>
<h2>23: @@{Application.helloWorld('nicolaïs')}</h2>