#{extends 'main.html' /}

<h1>a</h1>

<div id="a">
#{list items:a, as:'i'}
    ${i_parity == 'even' ? '=' : '-'} ${i_index}. ${i} ${i_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>b</h1>

<div id="b">
#{list items:b, as:'i'}
    ${i_parity == 'even' ? '=' : '-'} ${i_index}. ${i} ${i_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>c</h1>

<div id="c">
#{list items:0..3, as:'i'}
    ${i_parity == 'even' ? '=' : '-'} ${i_index}. ${i} ${i_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>d</h1>

<div id="d">
#{list items:d, as:'i'}
    ${i_parity == 'even' ? '=' : '-'} ${i_index}. ${i} ${i_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>e</h1>

<div id="e">
#{list items:1..5}
    ${_parity == 'even' ? '=' : '-'} ${_index}. ${_} ${_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>f</h1>

<div id="f">
#{list}
    COUCOU
#{/list}
</div>

<h1>g</h1>

<div id="g">
#{list items:[], as:'k'}
    OOPS
#{/list}
#{else}
    Nothing to display
#{/else}
</div>

<h1>h</h1>

<div id="h">
#{list items:[], as:'k'}
    OOPS
#{/list}
#{elseif 1}
    Yeah
#{/elseif}
#{else}
    OOPS
#{/else}
</div>

<h1>i</h1>

<div id="i">
#{list a, as:'i'}
    ${i_parity == 'even' ? '=' : '-'} ${i_index}. ${i} ${i_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>j</h1>

<div id="j">
#{list a}
    ${_parity == 'even' ? '=' : '-'} ${_index}. ${_} ${_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>k</h1>

<div id="k">
#{list 1..5}
    ${_parity == 'even' ? '=' : '-'} ${_index}. ${_} ${_isLast ? '.' : ','} <br/>
#{/list}
</div>

<h1>l</h1>

<div id="l">
#{list items:0..5, as:'a'}
  ${a_index}
  #{list items:0..5, as:'b'}#{/list}
#{/list}
</div>

xxx
