#{extends 'main.html' /}

<div id="a">@{Application.index()}</div>
<div id="b">@{Application.hello()}</div>
<div id="c">@{Application.hello('Guillaume')}</div>
<div id="d">@{Application.yop()}</div>
<div id="e">@{Application.aGetForm()}</div>
<div id="f">@{Application.aGetForm2()}</div>
<div id="g">@{Application.aGetForm('Yop')}</div>
<div id="h">@{Application.aGetForm2('Yop')}</div>
<div id="i">@{Application.optional()}</div>
<div id="j">@{Application.withQueryParam()}</div>
<div id="k">@{Application.withQueryParam("duck")}</div>
