#{list 0..1}
    #{if _}
        
        #{ifnot 0}
            
            #{verbatim}
                
                #{if 0}
                    Yop
                #{/if}
                #{else}
                    
                    ${play.templates.TagContext.currentStack.get()}
                    
                #{/else}
                
            #{/verbatim}
            
        #{/ifnot}
        
    #{/if}
#{/list}


*{ StandardTags }*
#{hello name:'Boy', weather:'sunny', location:'Paris' /}


*{ FastTags }*

#{my.tags.hello 'World' /}   #{my.tags.hello name:'Bab' /}   #{my.tags.hello}Coucou#{/my.tags.hello}  
