#{field 'subProject.subProjectObservation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.subProjectName'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.observation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.name'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.parent.observation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.parent.name'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

<p>

#{field 'subProjectNull.subProjectObservation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProjectNull.subProjectName'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProjectNull.observation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProjectNull.name'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProjectNull.parent.observation'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProjectNull.parent.name'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

<p>

#{field 'noBean.name'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

#{field 'subProject.noProperty'}
    <input id="${field.id}" name="${field.name}" value="${field.value}"> <span class="error" style="color:#c00">${field.error}</span>
#{/field}

