<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
		#{if play.mode.name() == 'DEV'}
			#{404 result /}
		#{/if}
        #{else}
        	<h1>Not found</h1>
			<p>
				${result.message}
			</p>
        #{/else}
    </body>
</html>
