@import url(crud.css);

/** Custom CRUD **/

#crud {
	font-size: 110%;
}

#crud td a {
	color: #650F62 !important;
}

#crud small {
	font-size: 70%;
}

#crud #crudHeader {
	background: none !important;
	padding: 5px 0 !important;
	height: 20px;
	border-bottom: 1px dotted #cccccc;
}

#crud #crudHeader h1 a {
	background: none !important;
	font-size: 90%;
	text-decoration: underline;
	color: #333;
}

#crud #crudBreadcrumb {
	position: relative;
	top: -22px;
	padding: 0;
	font-size: 90%;
	border: 0;
	margin-right: 200px;
}

#crud #crudContent h2 {
	margin-bottom: 10px;
	font-size: 20px;
	color: #000;
}

#crud #crudContent {
	padding: 10px 0 !important;
}

#crud #crudContent table thead tr {
	background: #9F459D;
}

#crud .crudNew a, #crud #crudListAdd a {
	background: none;
	color: #666 !important;
	background: url(../images/add.png) top left no-repeat;
	padding-left: 20px;
	text-decoration: underline;
}

.objectForm label {
	position: relative;
	top: 4px;
}

.online, .offline {
	font-size: 80%;
}

.online {
	color: #1F9F09;
}

.offline {
	color: #c00;
}

/** Admin index **/

#crud #crudIndex h2 {
	visibility: hidden;
	font-size: 1px;
}

/** Login **/

#login {
	margin : 50px auto;
	width: 400px;
}

#login h2 {
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}

#loginError {
	text-align: center;
	background: #CC0000;
	color: #fff;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

#login form {
	background-color: white;
	padding: 10px;
	border : 8px solid #CCC;
	text-align: right;
}

#login input {
	display : block; 
	width: 230px;
	margin-bottom:5px;
}

#login label {
	float: left; 
	width: 100px; 
	margin-right: 5px;
	font-weight: bold;
	color: #333;
}

#login .submit {
	margin-top: 20px;
	margin-left:105px;
	padding:2px;
	-moz-border-radius:10px;
	width:100px;
	cursor:pointer;
}

#crudHeader h1 {
	color: black !important;
	float: right;
	padding: 5px;
}